.wrap{
    padding:10px;
}
#tab{
	width:100%;
    height:98%;
    border: 1px solid #A4BED4;
}
#tds{
	width:100px;
	border-right: 1px solid #A4BED4;
	padding: 0px 5px;
}
#TreeDiv{
	min-height:480px;
	height:100%;
	overflow:auto;
}
#divs{
	width:100%;
	height:30px;
	padding-top:7px;
}
#hrs{
	word-break:break-all;
	border:0.5px solid #A4BED4;
}
#groupTree{
	overflow: auto;
}
#tdd{
	padding:0px;
	width:500px;
}
.rightBox{
	display:none;
}
.tabinfo{
	width:99%;
}
.trs{
	height:44px;
}
.text{
	height:30px;
}
.thname{
	width:100px;
}
div#rMenu {
	background-color: #55AAEA;
	text-align: left;
	padding: 2px;
}

div#rMenu ul {
	margin: 1px 0;
	padding: 0 5px;
	cursor: pointer;
	list-style: none outside none;
	background-color: #F9FFFF;
}

div#rMenu ul li {
	margin: 0;
	padding: 2px 0;
}