table {
	width: 100%;
}

.main-div table td {
	padding: 6px 6px 6px 0px;
	line-height: 28px;
	padding-left: 5px;
	border-bottom: 1px solid #e3e3e3;
}

td {
	font-size: 16px;
}

.valuetd {
	text-align: left;
}

.labeltd {
	text-align: right;
	
}
