
.wrap {
    width: 1313px;
    /* height: 590px; */
    /*height: 100%;*/
    margin: 0 auto;
    padding: 1px 25px 25px 25px;
    box-sizing: border-box;
    /*background: url("../img/bg.png")center center no-repeat;*/
    background-size: cover;
    font-size: 13px;
    color: #C4DDF8;
}

.top {
    width: 1267px;
    /*height: 32px;*/
    margin: 0 auto;
    /*padding: 1px 25px 25px 25px;*/
    box-sizing: border-box;
    line-height: 32px;
    /*background: darkorange;*/
}

.top_left {
    float: left;
    width: 50%;
    height: 100%;
    /*background: darkgreen;*/
}

.top_left span.text {

    color: #46a9fa;
}

.top_left span.text_1 {
    color: #46a9fa;
    margin-left: 12px;
}

.top_right {
    float: left;
    width: 50%;
    height: 100%;
    text-align: right;
}

.top_right span.text {

    color: #46a9fa;
}

.top_right span.text_1 {
    color: #46a9fa;
    margin-left: 14px;
}

/* 头部 */
.head {
    width: 100%;
    color: white;
    position: relative;
}

.head div {
    float: left;
    font-family: "Microsoft YaHei", "微软雅黑", "MicrosoftJhengHei";
    font-size: 20px;
}

.head img.head_left {
    position: absolute;
    left: 43px;
    top: 76px;
}

.head img.head_rotate {
    position: absolute;
    left: 361px;
    top: 76px;
}

.head img.head_right {
    position: absolute;
    left: 803px;
    top: 46px;
}

.head img.headRotate_right {
    position: absolute;
    left: 786px;
    top: 46px;
}

.head div:first-child span {
    position: absolute;
    width: 124px;
    left: 297px;
    top: 80px;
    font-size: 19px;
    font-weight: bold;
    color: #c3efff;
}

.head div:first-child .smal {
    font-size: 13px;
    left: 140px;
    top: 12px;
}

.head div:first-child + div {
    position: relative;
    left: 21px;
    bottom: 5px;
}

.head div:first-child + div span {
    display: inline-block;
    width: 341px;
    position: absolute;
    top: 42px;
    left: 444px;
    padding: 0px 10px;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: bold;
}

.head div:first-child + div + div {
    position: relative;
    left: 68px;
}

.head div:first-child + div + div span {
    position: absolute;
    width: 124px;
    left: 844px;
    top: 50px;
    font-size: 19px;
    font-weight: bold;
    color: #c3efff;
}

.head div:first-child + div + div .smal {
    font-size: 13px;
    left: 130px;
    top: 12px;
}

.clear {
    clear: both;
}

img.img_content {
    width: 1256px;
    position: absolute;
    top: 2px;
    left: -20px;
}

/* 内容 */
.page-content {
    width: 1261px;
    height: 685px;
    margin-top: 138px;
    padding: 30px;
    position: relative;
    border: 1px solid #2b5f6a;
    border-top: none;
    /*overflow: hidden;*/
}

.periphery {
    width: 1261px;
    height: 598px;
    padding-top: 4px;
    margin-top: 145px;
    border: 1px solid #2b5f6a;
    border-top: none;
}

img.work_cont {
    position: absolute;
    width: 1261px;
    top: 122px;
    left: 0px;
}

.left {
    width: 49%;
    height: 100%;
    float: left;
}

.left_top {
    width: 100%;
    height: 49%;
    border: 1px solid #2680d3;

}

.left_botom {
    width: 100%;
    height: 49%;
    border: 1px solid #2680d3;
    margin-top: 2%;
}

.right {
    width: 96%;
    height: 80%;
    float: left;
    margin-left: 2%;

}

.right_top {
    width: 100%;
    height: 100%;
    border: 1px solid #2680d3;
    background: url('../img/bg.png');
    background-size: 100% 100%;

}

.right_botom {
    background: url('../img/bg.png');
    background-size: 100% 100%;
    width: 100%;
    height: 49%;
    margin-top: 2%;
    border: 1px solid #2680d3;

}

.allbotom {
    position: relative;
    width: 100%;
    height: 37px;
}

/*左侧标题*/
span.bigMsg {
    position: absolute;
    top: -29px;
    left: 1px;
    width: 33.33%;
    display: block;
    float: left;
    text-align: left;
    text-indent: 27px;
    font-size: 16px;
    margin-bottom: 0.5%;
    color: #c3efff;
}

span.bigMsg_cont {
    display: block;
    /*margin: 0 auto;*/
    width: 33.33%;
}

span.bigMsg_right {
    display: block;
    float: left;
    width: 33.33%;
}

.but {
    background: #204267;
    border-radius: 2px;
    border: #204267;
    width: 109px;
    float: right;
    height: 36px;
    color: #26aac3;
}

li.listDetails {

    color: #14f0f1;
    border-bottom: none;
}